<div class="icon-menu">
  <svg width="30" height="30" viewBox="0 0 30 30">
    <line x1="0" y1="5" x2="30" y2="5" stroke="black"/>
    <line y1="15" x2="30" y2="15" stroke="black"/>
    <line y1="25" x2="30" y2="25" stroke="black"/>
  </svg>
</div>

<nav class="navigation-menu">
  <div class="profile">
    <span class="profile-img"><img src="/static/img/helmet-icon.png" alt="Imagem de perfil" /></span>
    <span><p class="name">Olá, Administrador!</p></span>
  </div>

  <ul class="list-nav">
    <li class="item-nav">
      <a class="link-nav link-nav-arrow"><i class="fas fa-book icon"></i>Club</a>
      <ul class="list-nav-second hide">
        <li class="item-nav-second">
          <a href="/static/clubRegister.html">Cadastrar</a>
        </li>
        <li class="item-nav-second">
          <a href="/static/clubAccountBooked.html">Confirmados</a>
        </li>
      </ul>
    </li>

    <li class="item-nav">
      <a class="link-nav link-nav-arrow"><i class="fas fa-car icon"></i>Pilotos</a>
      <ul class="list-nav-second hide">
        <li class="item-nav-second">
          <a href="/static/accountList.html">Listar</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
