<nav class="navigation-menu">
    <div class="profile">
      <span class="profile-img"><img src="/static/img/helmet-icon.png" alt="Imagem de perfil" /></span>
      <span><p class="name">Olá, Piloto</p></span>
    </div>
    <ul class="list-nav">
      <li class="item-nav">
        <!-- <i class="fas fa-book icon"></i> -->
        <a class="link-nav link-nav-arrow">
        <i class="fas fa-car icon"></i>Piloto</a>
        <ul class="list-nav-second hide">

          <li class="item-nav-second">
            <a href="/static/accountRegister.html">Cadastrar</a>
          </li>
        
        </ul>
      </li>
      
      <li class="item-nav">
        <a class="link-nav link-nav-arrow">
        <i class="fas fa-book icon"></i>Club</a>
          <ul class="list-nav-second hide">
            <li class="item-nav-second">
              <a href="/static/clubBook.html">Marcar Presença</a>
          </li>
          <li class="item-nav-second">
            <a href="/static/clubAccountBooked.html">Confirmados</a>
          </li>
        </ul>
      </li>
      <!-- <li class="item-nav">
        <a class="link-nav link-nav-arrow">
        <i class="fas fa-book icon"></i>Documentações</a>
      </li> -->
    </ul>
</nav>