<nav class="navigation-menu">
  <div class="profile">
    <span class="profile-img"><img src="/static/img/helmet_background_removed_128x128.png" alt="Imagem de perfil" /></span>
    <span><p class="name">Olá, Administrador!</p></span>
  </div>

  <ul class="list-nav">
    <li class="item-nav">
      <a class="link-nav link-nav-arrow"><i class="fas fa-book icon"></i>Club</a>
      <ul class="list-nav-second hide">
        <li class="item-nav-second">
          <!-- <a href="/static/clubRegister.html">Cadastrar</a> -->
          <a href="#"
              data-load="/static/clubRegister.html"
              data-style="/static/css/clubRegister.css"
              data-script="/static/js/component/datepickr.js,/static/js/impl/clubRegisterImpl.js"
              data-init="initDatepickr,clubRegisterImpl">
              Cadastrar
          </a>
       
        </li>
        <li class="item-nav-second">
          <a href="#"
              data-load="/static/clubAccountBooked.html"
              data-style="/static/css/clubAccountBooked.css"
              data-script="/static/js/impl/clubAccountBookedImpl.js"
              data-init="clubAccountBookedImpl">
              Confirmados
          </a>
          <!-- <a href="/static/clubAccountBooked.html">Confirmados</a> -->
        </li>
      </ul>
    </li>

    <li class="item-nav">
      <a class="link-nav link-nav-arrow"><i class="fas fa-car icon"></i>Pilotos</a>
      <ul class="list-nav-second hide">
        <li class="item-nav-second">
          <a href="#"
              data-load="/static/accountList.html"
              data-style="/static/css/accountList.css"
              data-script="/static/js/impl/accountListImpl.js"
              data-init="accountListImpl">
              Cadastrados
          </a>
          <!-- <a href="/static/accountList.html">Listar</a> -->
        </li>
      </ul>
    </li>
  </ul>
</nav>
