@import url('./global.css');
@import url('./content.css');
@import url('./card.css');
@import url('./form.css');

@import url('./header.css');
@import url('./menu.css');
@import url('./modal.css');
@import url('./footer.css');

@import url('./input.css');
@import url('./button.css');
/* @import url('./table.css'); */
@import url('./checkbox.css');
@import url('./animation.css');

.table-container {
    margin-bottom: 24px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    table-layout: fixed ; /* força colunas a se adaptarem */
  }
  
  .table-container th,
  .table-container td {
    padding: 6px 8px; /* menos espaço lateral */
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .table-container th {
    background-color: #e55215;
    color: white;
    font-weight: 600;
  }
  
  .table-container tr:hover {
    background-color: #f5f5f5;
  }
  